/* couleur du fond */
body{
    background-image: linear-gradient(rgb(100, 100, 248),rgb(179, 179, 219));   
}

#blocPage {
    margin-bottom: 30px;
}

/* style du titre */
h1{
    text-align: center;
    color: rgb(10, 10, 129);
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 2.4em;
}

/* ----------------------------JOUEURS------------------------ */
#joueurs{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
}
#joueurs img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
#joueur1, #joueur2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#joueur2 {
    display: none;
}

/* ------------------EMPLACEMENTS JETON DEPART---------------- */
/* disposition des emplacements jeton de départ */
#choixColonne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    width: 420px;
}
/* taille des emplacements jeton de départ */
#choixColonne img{
    width: 50px;
    height: 50px;
    opacity: 0.5;
}
/* Apparition des jetons au survol */
#choixColonne img:hover{
    opacity: 1;
}



/* ------------------------GRILLE DE JEU------------------- */
#grille{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
/* taille des cases de la grille */
#grille img{
    width: 60px;
    height: 60px;
}
/* taille et position du jeton au niveau des cases de la grille */
#grille div{
    background-size: 50px;
    background-position: center;

}


/* -----------------------AFFICHAGE DES SCORES -------------- */
#score{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 310px;
    margin: 0 auto; 
}
#score img{
    width: 50px;
    height: 50px;
    margin: 0 5px;
}
#score p{
    background-color: white;
    width: 60px;
    height: 50px;
    border : 3px black solid;
    font-size: 2em;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}
#scoreJoueur1{
    display:flex;
    flex-direction: row;
    align-items: center;
}
#scoreJoueur2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
/* -----------------------------BOUTONS --------------------------- */
#boutons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
}

button{
    background-image: linear-gradient(rgb(119, 119, 211),rgb(27, 27, 116));
    border: none;
    border-radius: 5px;
    width: 120px;
    line-height: 30px;
    font-size: 1.5em;
    text-align: center;
    color: rgb(4, 4, 63);
}
